.Items {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.Img {
    width: 100px;
    position: relative;
    right: 10px;
}

.divHeader {
    text-align: left;
    margin: 10px 0 0 0;
}

.p {
    text-align: left;
    margin: 7px 0 0 0;
}